/* Info 
    font: Quicksand,
    Lava(button, navbar): #cc1019,
    Light pink: #fec0ff,
    Intro-Background: #FFD9DF,
    Granite: #cdcdcd
*/
/* General CSS */
body{
    font-family: "Quicksand", sans-serif;
}
.content-box{
    padding: 15px 0;
}
.content-box-outer{
    display: table;
    height: 100%;
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;

}
.content-box-inner{
    display: table-cell;
    vertical-align: middle;

}
/* Button */
.btn-custom{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    color: black;
    border-color: white;
    font-weight: 500;
}
.btn-custom:hover{
    background-color: #c61019;
    color: white;
    border-color: #bfbea4;
}

/* Banter */
#banter{
    margin-top: 40px;
}
#banter .col-md-6{
    padding-left: 0px;
    padding-right: 0px;
}
.banter-bg{
    background: url("../img/main.jpg") -50px -50px;
    height: 400px;
}
#banter .content-box-outer{
    background-color: #cdcdcd;
}
#banter .content-box-inner{
    padding: 0 120px;
}
.content-box-inner h3{
    font-weight: 700;
}
/* Bestsellers */
.bestseller{
    margin: 0 20px;
}
.bestseller-title{
    margin: 40px 150px;
}
.bestseller-title h4{
    font-weight: 700;
}
.item-icons p{
    margin: 20px 0;
    font-weight: 500;
}
/* Categories */
.categories-outer{
    display: table;
    height: 100%;
    width: 100%;
}
.categories-title{
    vertical-align: middle;
    display: table-cell;
}
/* Introduction */
.intro-image{
    background: url("../img/second.jpg") 0 -200px;
    height: 300px;
}
#intro .col-md-6{
    padding: 0;
}
#intro .content-box-outer{
    background-color:#FFD9DF;
}
#intro .content-box-inner{
    padding: 20px 70px;
}
#intro h4{
    font-weight: 700;
}
#intro a{
    color: #cc1019;
    font-weight: 500;
}
/* Endpage */
.endpage-bg{
    background: url('../img/endpage.jpg');
    background-position: 0 -450px;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
    margin-top: 30px;
}
#endpage .content-box{
    background-color: rgba(0, 0, 0, 0.7);
}
#endpage .content-box-outer{
    height: 100%;
    width: 100%;
    display: table
}
#endpage .content-box-inner{
    display: table-cell;
}
.content-underline{
    width: 250px;
    height: 1px;
    background-color: white;
    margin: 10px 0;
}
#endpage h4{
    font-weight: 600;
}
/* Navigation */
.navbar .navbar-brand{
    font-size: 30px;
    font-weight: 700;
    color: #c61019
}
.navbar-collapse .form-inline .form-control{
    padding: 4px 0;
    margin-right: 0 !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    height: 30px;
}
.navbar{
    padding: 0 16px 0 16px;
}
.nav > .nav-item > .nav-link:hover{
    color: #c61019;
    box-shadow: 0 -2px 0 0 #c61019;
}
.navbar .nav-item .active{
    box-shadow: 0 -2px 0 0 #c61019;
    font-weight: 500;
    color: #c61019 !important;
}